<h1>Editing pitcher pitch stat</h1>

<%= render "form", pitcher_pitch_stat: @pitcher_pitch_stat %>

<br>

<div>
  <%= link_to "Show this pitcher pitch stat", @pitcher_pitch_stat %> |
  <%= link_to "Back to pitcher pitch stats", pitcher_pitch_stats_path %>
</div>
