<h1>Editing pitcher box score</h1>

<%= render "form", pitcher_box_score: @pitcher_box_score %>

<br>

<div>
  <%= link_to "Show this pitcher box score", @pitcher_box_score %> |
  <%= link_to "Back to pitcher box scores", pitcher_box_scores_path %>
</div>
