<h1>Editing team pitcher stat</h1>

<%= render "form", team_pitcher_stat: @team_pitcher_stat %>

<br>

<div>
  <%= link_to "Show this team pitcher stat", @team_pitcher_stat %> |
  <%= link_to "Back to team pitcher stats", team_pitcher_stats_path %>
</div>
